<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kks24.askme_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".QuestionActivity"
            android:label="Ask Me!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name=".PostQuestionActivity"
            android:label="@string/title_activity_post_question" >
        </activity>
        <activity
            android:name=".PostAnswerActivity"
            android:label="@string/title_activity_post_answer" >
        </activity>
    </application>

</manifest>
